.container {
  display: grid;
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: max-content;
  gap: 1rem;
  width: 100% "";
  padding: 1rem;
  border-radius: 1rem;
  border: 4px dashed var(--mauNen--);
  font-size: 1.4rem;
}
