.container {
  width: 100%;
  text-align: center;
  position: relative;
}
.container input {
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  width: 60%;
  margin: 0 auto;
  padding-left: 2.6rem;
}
.icon {
  position: absolute;
  left: 22%;
  top: 0.5rem;
}
.clearIcon {
  position: absolute;
  right: 22%;
  top: 0.3rem;
}
.iconClear {
  color: var(--mauMh3--);
  cursor: pointer;
  transition: all 0.2s;
}
.iconClear:hover {
  color: var(--mauMh4--);
}
