.container {
  width: 100%;
  text-align: center;
  position: relative;
}
.container input {
  font-size: 1.2rem;
  padding : .5rem 1rem;
  border-radius: 1rem;
  width: 60%;
  margin: 0 auto;
  padding-left: 2.6rem;
}
.icon {
  position: absolute;
  left:22%;
  top:.5rem;
}