.smallArea {
  grid-column: 1/2;
}
.bigArea {
  grid-column: 2/-1;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
.control,
.lichContainer {
  padding-bottom: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

.lichContainer {
  padding-left: 1rem;
  display: flex;
  background-color: var(--mauNen--);
  box-shadow: 5px 5px 10px lightgray;
  margin: 2rem;
  border-radius: 1rem;
}
.lichArea {
  padding-left: 0;
  border-left: 4px dashed var(--mauMh3--);
}
.chonThu,
.chonHocTro {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--mauNen--);
}

.tags {
  list-style: none;
  gap: 1rem;
  padding: 0 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0.5rem;
}

.tag {
  padding: 5px 1.5rem 5px 1.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--mauNen--);
  border: 2px solid var(--mauMh1--);
  color: var(--mauMh1--);
  position: relative;
  cursor: pointer;
  transition: all 0.2s;
  font-size: 1.2rem;
}
.tag::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: var(--mauNen--);
  position: absolute;
  top: 13px;
  left: 10px;
  box-shadow: 2px 2px 5px gray inset;
}
.tag:hover,
.tagActive {
  bottom: 2px;
  box-shadow: 0 4px 5px gray;
  background-color: var(--mauMh1--);
  border: 2px solid var(--mauMh1--);
  color: var(--mauNen--);
}

/* Css phần lịch giáo viên */
.listLich {
  display: block;
  width: 100%;
}
