.controls {
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--mauNen--);
  box-shadow: 8px 8px 10px rgb(232, 231, 231);
  margin: 1.5rem auto;
}
/* Phần css cho dạy chính */
.container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.dsNghi {
  width: 100%;
  background-color: var(--mauNen--);
  box-shadow: 8px 8px 10px rgb(232, 231, 231);
  border: 1px solid rgb(232, 231, 231);
  border-radius: 1rem;
  font-size: 1.2rem;
  /* padding: 1rem; */
}
/* Phần tags cho ds học sinh nghỉ */
.tags {
  list-style: none;
  gap: 1rem;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  opacity: 0.4;
}
.tag {
  padding: 5px 1.5rem 5px 1.8rem;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
  background-color: var(--mauMh4--);
  border: 2px solid var(--mauMh4--);
  color: var(--mauNen--);
  position: relative;
  cursor: not-allowed;
}
.tag::after {
  content: "";
  display: block;
  width: 12px;
  height: 12px;
  border-radius: 5px;
  background-color: var(--mauNen--);
  position: absolute;
  top: 13px;
  left: 10px;
  box-shadow: 2px 2px 5px gray inset;
}

/* Phần css cho dạy thế */
.control {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
}

/* Phần lịch giáo viên */
.listLich {
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
/* Tạo màu ghi chú các ngày */
.ghiChuMau,
.nodeItem {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1rem;
  opacity : .9;
}
.ghiChuMau {
  padding: 0.5rem;
  color: #fff;
  background-color: rgb(55, 55, 55);
  border-radius: 1rem;
  font-size: 1rem;
}
.nodeItem {
  gap: 1rem;
  flex-wrap: nowrap;
  align-items: center;
  padding: 0.3rem;
  border: 1px solid #fff;
  border-radius: 5px;
}
.dayChinh {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--mauNut--);
}
.dayThe {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--mauMh2--);
}
.dayTangCuong {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--mauMh1--);
}
.dayBu {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: rgb(36, 145, 255);
}
.nghi {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: var(--mauMh4--);
}
